:root{
  --background: #222226;
  --card: #0C0C0D;
  --primary: #7155D9;
  --secondary: #242873;
  --accent: #07D962;
  --text: #fafafa;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--card);
}

.card{
  background: var(--background);
  padding: 20px;
  border-radius: 5px;
  color: var(--text);
  width: 100vw;
  max-width: 500px;
}

h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--accent);
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 10px;
  color: var(--text);
}

input[type="date"]{
  padding: 20px;
  width: 100vw;
  max-width: 500px;
  border: 1px solid var(--background);
  border-radius: 5px;
  background: var(--background);
  color: var(--text);
  font-size: 1.2rem;
  color-scheme: dark;
  margin-top: 5px;
  transition: 300ms;
}

input[type="date"]:focus{
  outline: none;
  border-color: var(--accent);
  background-color: var(--card);
  transition: 300ms;
}